<div class="app-container">

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">
        <img src="https://th.bing.com/th/id/R.1b474d38680a7ab565e2db267b322fe4?rik=OxlG%2bESxlyAIcQ&pid=ImgRaw&r=0" alt="Logo AeroMeso" height="30" class="d-inline-block align-text-top">
        Servinsa
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li *ngIf="authService.isLoggedIn()" class="nav-item">
            <a class="nav-link" routerLink="/reservar" routerLinkActive="active">Reservar Asientos</a>
          </li>
          <li *ngIf="authService.isLoggedIn()" class="nav-item">
            <a class="nav-link" routerLink="/mis-reservas" routerLinkActive="active">Mis Reservas</a>
          </li>
          <li *ngIf="authService.isLoggedIn()" class="nav-item">
            <a class="nav-link" routerLink="/reportes" routerLinkActive="active">Reportes</a>
          </li>
          <li *ngIf="!authService.isLoggedIn()" class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActive="active">Login/Registro</a>
          </li>
          <li *ngIf="authService.isLoggedIn()" class="nav-item">
            <a class="nav-link" style="cursor: pointer;" (click)="logout()">Cerrar Sesión</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container mt-4 content-wrap">
    <router-outlet></router-outlet>
  </div>

  <footer class="bg-dark text-white text-center py-3 mt-auto">
    <p class="m-0">&copy; 2025 AeroMeso. Todos los derechos reservados.</p>
  </footer>

  <div class="modal fade" id="globalNotificacionModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ modalTitle }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p class="modal-text">{{ modalBody }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
        </div>
      </div>
    </div>
  </div>

</div>